# dot files
.DS_Store
.kilo
mcp-server/dist

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Documentation
plan
doc

# Scaffold
.env
.scaffold
build
logs
seerai.xpi
seerai-mcp.cjs
.agent
.opencode
